<!DOCTYPE html>
<html lang="pt_BR">
{% include "header.html" %}
    <body>
{% include "navbar.html" %}
        <main role="main">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>Errorlog {{ today|date:"d/m/Y H:i:s" }}</h1>
                </div>
                <div class="card-body">
            {% if total > 0 %}
            <table class="table table-sm table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>ServerName</th>
                        <th>Qtde</th>
                        <th>Msg</th>
                    </tr>
                </thead>
                <tbody>
            {% for event in events %}
                <tr class="{% if event.Qtde < 10 %} table-success{% elif event.Qtde >= 10 and event.Qtde < 30 %} table-warning{% elif event.Qtde >= 30 %} table-danger{% else %} table-default{% endif %}">
                    <td class="text-truncate">{{ event.ServerName }}</td>                    
                    <td>{{ event.Qtde }}</td>
                    <td class="text-truncate">{{ event.msg }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <hr/>
            <p>Você tem {{ total }} evento{{ total|pluralize }} de errorlog.</p>
            {% else %}
                <div class="alert alert-secondary text-center">
                    Sem eventos novos...
                </div>
            {% endif %}
                </div>
            </div>
        </main>
{% include "footer.html" %}
    </body>
</html>
<!--
    vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4
-->
