<!DOCTYPE html>
<html lang="pt_BR">
{% include "header.html" %}
    <body>
{% include "navbar.html" %}
        <main role="main">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>{{ today|date:"d/m/Y H:i:s" }}</h1>
                </div>
                <div class="card-body">
            {% if total > 0 %}
            <table class="table table-sm table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>ServerName</th>
                        <th>Login</th>
                        <th>spid</th>
                        <th>blocked</th>
                    </tr>
                </thead>
                <tbody>
            {% for event in events %}
                <tr class="">
                    <td class="text-truncate">{{ event.ServerName }}</td>                    
                    <td class="text-truncate">{{ event.login }}</td>
                    <td class="text-truncate">{{ event.spid }}</td>
                    <td>{{ event.blocked }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <hr/>
            <p>Você tem {{ total }} evento{{ total|pluralize }}.</p>
            {% else %}
                <div class="alert alert-secondary text-center">
                    Nenhum bloqueio no momento.
                </div>
            {% endif %}
                </div>
            </div>
        </main>
{% include "footer.html" %}
    </body>
</html>
<!--
    vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4
-->
